h1
{text-shadow: 7px 4px 5px blue;color:#FFFFFF;text-aling:center:}
h2
{color:#FFFFFF;text-align; leffont-family:arial;
}

p{color:#FFFFFF;text-align:justify leffont-family:arial;;
}

li{color:#FFFFFF;text-shadow: 7px 4px 5px blue;text-align:justify leffont-family:arial;list-style:none;margin-left:25px;
padding:25px0;float:left;}

footer{color:#FFFFFF;font-family:arial;
}

